* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif !important;
  letter-spacing: 1.5px;
  scroll-behavior: smooth;
  background-color: var(--bg-color-first);
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color-first);
}

.particles {
  position: absolute;
}

/* Header */

.navbar-light .navbar-nav a.nav-link:hover {
  color: var(--pelorous) !important;
}

.active {
  font-weight: bold !important;
}

.navbar-light .navbar-nav a.nav-link {
  color: var(--cloudburst) !important;
}

.navbar-collapse {
  text-align: center;
}

.navbar-toggler {
  border: 2px solid transparent !important;
}

.navbar-light .navbar-toggler {
  color: var(--pelorous) !important;
  border-color: var(--pelorous) !important;
}

.navbar-brand img {
  border-radius: 50%;
  border: 2px solid #fff;
  animation: animateLogo 3s linear infinite forwards;
}

.linkHeader {
  padding: 8px;
  margin: 8px;
  border-radius: .25rem;
  border: 1px solid rgba(255,255,255,.5);
  box-shadow: 0px 3px 3px #999;
  transition: .5s;
}

.linkHeader:hover {
  border: 1px solid rgba(255,255,255,.5);
  box-shadow: 0px 1px 1px #333;
  transition: .5s;
}

/* Home */

#home {
  background: url(../src/images/bg-home.jpg) center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 30px 30px rgba(0,0,0,.4);
  animation: animateBackground .5s ease-in-out;
}

.sectionHomeText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  background: url(../src/images/earth.gif) center no-repeat;
  background-size: 290px auto;
  animation: animateImgEarth 3s ease-in-out;
  min-height: 84vh;
}

.homeText {
  font-size: 6vw; 
  font-weight: 600;
  color: white;
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg) translateY(0px);
  text-shadow: 1px 5px 6px rgba(194, 194, 194, 0.4),
                1px 10px 10px rgba(194, 194, 194, 0.2);
  animation: animateTextOnHome 3s ease-in-out;
}

@media only screen and (max-width:414px) {
  h1.homeText {
    font-size: 11vw;  
   }
}

/* About */

#about {
  background: url(../src/images/bg-about.jpg) center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 30px 10px rgba(0,0,0,.6);
  animation: animateBackground .5s ease-in-out;
}

.sectionAbout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  min-height: 84vh;
}

.sectionAbout h2 {
  font-size: 3em; 
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

.sectionAbout h4 {
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

.myPhoto {
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
  margin-bottom: 16px;
  border-radius: 50%;
  filter: gray;
  -webkit-filter: grayscale(.5);
  transition: 1s;
  border: 2px solid var(--pelorous);
}

.myPhoto:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border: 2px solid var(--pelorous);
  filter: none;
  transition: 1s;
}

.projectExamples {
  padding: 8px;
}

.colProjectExamples{
  display: block;
  max-width: 760px;
  justify-content: space-between;
  margin: 8px auto;
  text-align: center;
}

.buttonProjectExamples {
  margin: 8px;
  box-shadow: 0px 2px 2px #333;
  transition: 1s;
}

.buttonProjectExamples:hover {
  box-shadow: 0px 1px 0px #333;
  transition: 1s;
}

.buttonProjectExamples:active {
  box-shadow: 0px 1px 0px #333;
  transition: 1s;
}

.logoGitHub {
  width: 20px;
  margin-right: 8px;
}

/* Skills */

#skills {
  background: url(../src/images/bg-skills.jpg) center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 30px 10px rgba(0,0,0,.6);
  padding: 16px;
  animation: animateBackground .5s ease-in-out;
}

.sectionSkills {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  min-height: 80vh;
}

#skills h1 {
  text-align: center;
  font-weight: 600;
  color: white;
  text-shadow: 0px 2px 2px var(--cloudburst);
}

.divTechnologies h3 {
  display: inline-block;
  color: white;
  margin: 8px;
  padding: 8px;
  text-shadow: 0px 2px 2px var(--cloudburst);
  background: rgba(0,0,0,0.4);
  border-radius: .25rem;
}

/* Sibling */

.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}
  
.sibling-fade > * {
  background: #f3f3f3;
  padding: .5em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: var(--cloudburst);
  font-size: 1.5em;
  text-decoration: none;
  z-index: 1;
}  

/* SIBLING FADE: fade out siblings around a hovered item */

.sibling-fade { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.sibling-fade > * { visibility: visible; border: 2px solid var(--pelorous);}
/* Brings the child items back in, even though the parent is `hidden` */

.sibling-fade > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.sibling-fade:hover > * { opacity: 0.7; transform: scale(0.9); cursor: crosshair;}
/* Fade out all items when the parent is hovered */

.sibling-fade > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; color: var(--pelorous); box-shadow: 0px 2px 2px rgba(0,0,0,.5);}
/* Fade in the currently hovered item */

/* Footer */

.footer {
  display: box;
  position: relative;
  margin: 0 8px 24px 8px;
  text-align: center;
}

.footer a {
  padding: 8px;
  margin: 8px;
  border-radius: .25rem;
  border: 1px solid rgba(255,255,255,.5);
  box-shadow: 0px 4px 3px #999;
  transition: .5s;
  background-color: #fff;
}

.footer a:hover {
  border: 1px solid rgba(255,255,255,.5);
  box-shadow: 0px 1px 1px #333;
  transition: .5s;
}

.logoSocialFooter {
  width: 22px;
  height: 22px;
}

.footerPowered {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 8px;
}

.footerPowered a {
  color: var(--cloudburst);
  text-align: center;
}

.footerPowered a:hover {
  color: var(--pelorous);
  text-decoration: none;
  cursor: ne-resize;
}


/* CSS Animations */

/* Animated Background */

@keyframes animateBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes animateBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animateBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes animateBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animated logo */

@keyframes animateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Firefox */
@-moz-keyframes animateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Safari and Chrome */
@-webkit-keyframes animateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Opera */
@-o-keyframes animateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animated image Earth */

@keyframes animateImgEarth {
  from {
    background-position: top;
    background-size: 1px;
  }
  to {
    background-size: 290px;
  }
}

@-moz-keyframes animateImgEarth {
  from {
    background-position: top;
    background-size: 1px;
  }
  to {
    background-size: 290px;
  }
}

@-webkit-keyframes animateImgEarth {
  from {
    background-position: top;
    background-size: 1px;
  }
  to {
    background-size: 290px;
  }
}

@-o-keyframes animateImgEarth {
  from {
    background-position: top;
    background-size: 1px;
  }
  to {
    background-size: 290px;
  }
}

/* Animated text on page Home */

@keyframes animateTextOnHome {
  from {
    color: #f39b9b;
    transform: perspective(5px) rotateY(0deg) rotateX(15deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(246, 191, 40, 0.3),
                  1px 10px 10px rgba(255, 0, 0, 0.3);
    }
  to {
    transform: perspective(500px) rotateY(0deg) rotateX(0deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(194, 194, 194, 0.4),
                  1px 10px 10px rgba(194, 194, 194, 0.2);
  }
}

@-moz-keyframes animateTextOnHome {
  from {
    color: #f39b9b;
    transform: perspective(5px) rotateY(0deg) rotateX(15deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(246, 191, 40, 0.3),
                  1px 10px 10px rgba(255, 0, 0, 0.3);
    }
  to {
    transform: perspective(500px) rotateY(0deg) rotateX(0deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(194, 194, 194, 0.4),
                  1px 10px 10px rgba(194, 194, 194, 0.2);
  }
}

@-webkit-keyframes animateTextOnHome {
  from {
    color: #f39b9b;
    transform: perspective(5px) rotateY(0deg) rotateX(15deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(246, 191, 40, 0.3),
                  1px 10px 10px rgba(255, 0, 0, 0.3);
    }
  to {
    transform: perspective(500px) rotateY(0deg) rotateX(0deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(194, 194, 194, 0.4),
                  1px 10px 10px rgba(194, 194, 194, 0.2);
  }
}

@-o-keyframes animateTextOnHome {
  from {
    color: #f39b9b;
    transform: perspective(5px) rotateY(0deg) rotateX(15deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(246, 191, 40, 0.3),
                  1px 10px 10px rgba(255, 0, 0, 0.3);
    }
  to {
    transform: perspective(500px) rotateY(0deg) rotateX(0deg) translateY(0px);
    text-shadow: 1px 5px 6px rgba(194, 194, 194, 0.4),
                  1px 10px 10px rgba(194, 194, 194, 0.2);
  }
}